@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-container {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #profile,
    .section-container {
      display: block;
    }
    }
    
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .about-containers {
      margin-top: 0;
    }
  
  @media screen and (max-width: 900px) {
    .proj {
        flex-wrap: wrap;
        /* padding: 0 22%; */
    }
    .section_text_p2 {
      font-size: 3rem;
    }
    #profile {
      margin-bottom: 0;
    }
    }
    @media screen and (min-width: 320px) and (max-width: 600px) {
      .contact-head {
        display: none
      }
      section {
        width: fit-content;
      }
      .title-name {
        font-size: 2rem;
      } 
      .section_text_p2 p {
        font-size: 0.4rem;
      }
      .about-container {
        padding: 0 10%;
      }
      #contact
      {
        height: 40vh;
      }
      #profile {
        height: 83vh;
        margin-bottom: 0;
      }
      .about-containers,
      
      .btn-container {
        flex-wrap: wrap;
      }
      .nav-links li a {
        font-size: 1rem;
      }
  
      .logo {
        font-size: 3rem;
      }
    
      .section_text_p2 {
        font-size: 2.5rem;
      }
      .title {
        font-size: 3rem;
      }
      .text-container {
        text-align: justify;
      }
    }
  /* @media screen and (min-device-width: 144px) and (max-device-width: 520px) {
    section {
      width: fit-content;
    }
    /* .title-name {
      font-size: 2rem;
    } */
    /* .section_text_p2 p {
      font-size: 0.4rem;
    }
    .contact-head {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
    }
    .cv-contact {
      display: grid;
      place-items: center;
  }
  
    .socials {
      padding: 0;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      gap: 1rem;
      
  }
    .about-container {
      padding: 0 10%;
    }
    #contact
    {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    .about-containers,
    
    .btn-container {
      flex-wrap: wrap;
    }
    .nav-links li a {
      font-size: 1rem;
    }
    }

    .logo {
      font-size: 3rem;
    }
  
    .section_text_p2 {
      font-size: 2.5rem;
    }
    .title {
      font-size: 3rem;
    }
    .text-container {
      text-align: justify;
    } */

  