@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 3rem;
    }
    .about-container {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #profile,
    .section-container {
      display: block;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .about-containers {
      margin-top: 0;
      padding: 0 10%;
    }
    }
    
    @media screen and (max-width: 900px) {
    .proj {
        flex-wrap: wrap;
    }
    .section_text_p2 {
      font-size: 2rem;
    }
    #profile {
      height: 83vh;
    }
    .about-container {
      padding: 0 10%;
    }
    } 
    @media screen and (max-width: 420px){
      html {
        width: auto;
      }
      section {
        margin-bottom: 0;
      }
      /* .contact-head {
        display: none
      } */
      /* section {
        width: fit-content;
      } */
      .contact-head {
      /* margin-bottom: 20px; */
      display: flex;
      flex-direction: row;
      }
      
      .socials {
        /* margin-top: 0; */
        padding-top: 0;
        gap: 4px;
      } 
      .title-name {
        font-size: 3.5rem;
      } 
      .section_text_p2 {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0;
        
        -webkit-text-size-adjust: none;
      }
      .section_text_p2 p {
        width: auto;
        font-size: 2rem;
      }
      .about-container {
        width: 100%;
        display: grid;
        place-items: center;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0 5% ;
      }
      .text-container {
        width: 100% !important; 
      }
      #contact
      {
        height: 40vh;
      }
      .proj {
        flex-wrap: wrap;
        padding: 0;
      }
      #profile {
        height: 76vh;
        margin-bottom: 0;
      }
      .about-containers,
      .btn-container {
        flex-wrap: wrap;
      }
      .nav-links li a {
        font-size: 1rem;
      }
  
      .logo {
        font-size: 3rem;
      }
      .title {
        font-size: 3rem;
      }
    }
  