@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-container {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #profile,
    .section-container {
      display: block;
    }
    }
    
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .about-containers {
      margin-top: 0;
    }
  
  @media screen and (max-width: 900px) {
    .proj {
        flex-direction: column;
        padding: 0 22%;
    }
    }
  @media screen and (max-width: 600px) {
    #contact
    {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    .about-containers,
    
    .btn-container {
      flex-wrap: wrap;
    }
    .nav-links li a {
      font-size: 1rem;
    }
    }

    .logo {
      font-size: 3rem;
    }
  
    .section__text__p2 {
      font-size: 2rem;
    }
    .title {
      font-size: 3rem;
    }
    .text-container {
      text-align: justify;
    }

  